In [1]:
import pandas as pd

In [9]:
list1=pd.DataFrame()
list1['f1_1']=[]
list1['f1_2']=[]
list1['f1_3']=[]
list1

In [10]:
list1.loc[orign]

Empty DataFrame
Columns: [f1_1, f1_2, f1_3]
Index: []

## Noise

In [3]:
hsv_hor['average'] = (hsv_hor['result1']+hsv_hor['result2']+hsv_hor['result3']+hsv_hor['result4']+hsv_hor['result5'])/5
hsv_hor['final'] = (hsv_hor['answer'])\
                        - (hsv_hor['result1']+hsv_hor['result2']+hsv_hor['result3']+hsv_hor['result4']+hsv_hor['result5'])/5

NameError: name 'hsv_hor' is not defined

In [27]:
hsv_hor

    answer  result1  result2  result3  result4  result5  average   final
0     2406     2251     2239     2248     2242     2247  2245.40  160.60
1     1652     1359     1325     1324     1329     1323  1332.00  320.00
2     1596     1812     1868     1842     1869     1854  1849.00 -253.00
3     1464     1371     1378     1366     1368     1360  1368.60   95.40
4     1222     1492     1498     1520     1504     1521  1507.00 -285.00
5      640      704      678      688      679      684   686.60  -46.60
6      478      441      444      443      445      446   443.80   34.20
7      334      301      300      302      292      286   296.20   37.80
8      326      375      373      367      373      383   374.20  -48.20
9      288      276      272      272      275      273   273.60   14.40
10     240      306      313      311      307      302   307.80  -67.80
11     162      108      109      115      113      119   112.80   49.20
12     492      454      443      444      447      447   447.00   45.00
13     300      284      282      290      284      292   286.40   13.60
14     322      374      389      376      380      373   378.40  -56.40
15     290      277      273      279      280      279   277.60   12.40
16     254      284      283      279      276      274   279.20  -25.20
17     134      131      133      134      137      137   134.40   -0.40